[Unit]
Description=Websocket Server layer

[Service]
WorkingDirectory=/home/pi/screenly
User=pi
ExecStart=/home/pi/screenly/.venv/bin/python /home/pi/screenly/websocket_server_layer.py
Restart=always

[Install]
WantedBy=multi-user.target